body {
    background: #f4f4f4;
}

.header-bg {
    background-image: url('../img/socialbrothers.jpg');
    background-size: cover;
    background-position: 0 20%;
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
}

.bg-overlay {
    background: rgba(0, 0, 0, .4);
    height: 340px;
    img {
        width: 288px;
    }
}

.blog-thumbnail {
    background: $white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin-top: 40px;
    h2 {
        padding: 15px 20px 10px 20px;
        margin-bottom: 0;
        color: #262626;
        font-family: "Proxima Nova", sans-serif;
        font-size: 24px;
    }
    p {
        padding: 0 20px 20px 20px;
        margin-bottom: 0;
        color: #868686;
        font-family: "Proxima Nova", sans-serif;
        font-size: 12px;
    }
}

.blog-header {
    background-size: cover;
    background-position: 0 20%;
    width: 100%;
    height: 72px;
    color: #fff;
    font-size: 8px;
    padding: 15px 15px 5px 20px;
}

@media (max-width: 991.98px) {
    .col-form {
        background: $white;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .header-bg {
        margin-bottom: 0;
    }
    .form-blog {
        padding: 40px 20px 0 20px;
    }
    .blog-header {
        padding: 15px 10px 5px 15px;
    }
    .blog-thumbnail {
        h2 {
            padding: 15px 10px 10px 15px;
            font-size: 20px;
        }
        p {
            padding: 0 10px 20px 15px;
        }
    }
}