.bg-white {
  background: #fff;
}

.form-blog {
  padding: 40px 30px 0 30px;
}

.form-blog input {
  height: 50px;
}

.form-blog select {
  height: 50px;
  padding-left: 0.55rem;
  width: 100%;
}

.form-blog textarea {
  height: 346px;
}

.form-blog input,
.form-blog select,
.form-blog textarea {
  box-shadow: none !important;
  background: #fafafa;
  outline: 0;
  border: 0;
  border-radius: 0;
}

.form-blog label {
  color: #404040;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.form-blog ::-webkit-input-placeholder {
  color: #C5C5C5;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.form-blog :-moz-placeholder {
  color: #C5C5C5;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.form-blog ::-moz-placeholder {
  color: #C5C5C5;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.form-blog :-ms-input-placeholder {
  color: #C5C5C5;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.btn {
  padding: 0 50px;
}

.btn-orange {
  background: #f27623;
  border-radius: 18px;
  color: #fff;
  height: 31px;
  margin: 27px 0 34px 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.btn-orange:hover {
  background: #d55d0d;
  color: #fff;
}

body {
  background: #f4f4f4;
}

.header-bg {
  background-image: url(/images/socialbrothers.jpg?4a6f63c014a872df977af67c08948a13);
  background-size: cover;
  background-position: 0 20%;
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 340px;
}

.bg-overlay img {
  width: 288px;
}

.blog-thumbnail {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.blog-thumbnail h2 {
  padding: 15px 20px 10px 20px;
  margin-bottom: 0;
  color: #262626;
  font-family: "Proxima Nova", sans-serif;
  font-size: 24px;
}

.blog-thumbnail p {
  padding: 0 20px 20px 20px;
  margin-bottom: 0;
  color: #868686;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
}

.blog-header {
  background-size: cover;
  background-position: 0 20%;
  width: 100%;
  height: 72px;
  color: #fff;
  font-size: 8px;
  padding: 15px 15px 5px 20px;
}

@media (max-width: 991.98px) {
  .col-form {
    background: #fff;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .header-bg {
    margin-bottom: 0;
  }

  .form-blog {
    padding: 40px 20px 0 20px;
  }

  .blog-header {
    padding: 15px 10px 5px 15px;
  }

  .blog-thumbnail h2 {
    padding: 15px 10px 10px 15px;
    font-size: 20px;
  }

  .blog-thumbnail p {
    padding: 0 10px 20px 15px;
  }
}

