.btn {
    padding: 0 50px;
}

.btn-orange {
    background: $orange;
    border-radius: 18px;
    color: $white;
    height: 31px;
    margin: 27px 0 34px 0;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: bold;
    &:hover {
        background: darken($orange, 10%);
        color: $white;
    }
}
