.form-blog {
    padding: 40px 30px 0 30px;
    input {
        height: 50px;
    }
    select {
        height: 50px;
        padding-left: 0.55rem;
        width: 100%;
    }
    textarea {
        height: 346px;
    }
    input, select, textarea {
        box-shadow: none !important;
        background: #fafafa;
        outline: 0;
        border: 0;
        border-radius: 0;
    }
    label {
        color: #404040;
        font-family: "Proxima Nova", sans-serif;
        font-size: 12px;
        line-height: 14px;
    }
    @include placeholder {
        color: #C5C5C5;
        font-family: "Proxima Nova", sans-serif;
        font-size: 12px;
        font-style: italic;
    }
}
